.hideFruits{
    width: 80%;
    height: 87px;
    background-color: #99CEEC;
    position: absolute;
    z-index: 2;
}
#hideFruits1{
    top: 10px;
}
#hideFruits2{
    top: 528px;
    height: 100px;
}