#message{
    width: 60%;
    min-width: fit-content;
    height: 35%;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#F8C267, #FE846A);
    position: absolute;
    top: 180px;
    display: none;
}